extends layout

block content

  h1= title

  ul
    each item in messages
      li 
        b #{item.user} says: 
        | #{item.text}
        br
        | on 
        em #{item.added}
        br
        br

  a(href="/new") Add a new message!